
@{
    ViewData["Title"] = "ViewCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model GetCategoryByIdDto

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategori Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="categoryId" />
                            <label>Kategori Adı</label>
                            <label class="form-control" style="background-color: #e9ecef;">@Model.categoryName</label>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>